.attention {
    color: red
}

.lowUV {
    border-radius: 5px;
    background-color: green;
    color: white;
    font-weight: bold;
    padding: 3px;
}

.medUV {
    border-radius: 5px;
    background-color: yellow;
    color: white;
    font-weight: bold;
    padding: 3px;
}

.highUV {
    border-radius: 5px;
    background-color: orange;
    color: white;
    font-weight: bold;
    padding: 3px;
}

.veryhighUV {
    border-radius: 5px;
    background-color: red;
    color: white;
    font-weight: bold;
    padding: 3px;
}

.extremeUV {
    border-radius: 5px;
    background-color: violet;
    color: white;
    font-weight: bold;
    padding: 3px;
}

.card {
    max-width: 20rem;
    margin: 5px;
}

.card-body {
    background-color: lightpink;
}

.jumbotron {
    margin-top: 5px;
}