.attention {
    color: red
}

.sidebar {
    top: 0;
    bottom: 0;
    left: 0;
    padding: 48px 2px 2px;
    /* stay clear of navbar */
    z-index: 100;
    /* extra height push behind nav */
}

.sidebar-sticky {
    position: relative;
    overflow-x: hidden;
    /* don't show overflow on X - shouldn't happen anyway || y is auto to allow scrolling on mobile viewports*/
    overflow-y: auto;
    top: 0;
    padding-top: 0.75rem;
}

.lowUV {
    border-radius: 5px;
    background-color: green;
    color: white;
    font-weight: bold;
    padding: 3px;
}

.medUV {
    border-radius: 5px;
    background-color: yellow;
    color: white;
    font-weight: bold;
    padding: 3px;
}

.highUV {
    border-radius: 5px;
    background-color: orange;
    color: white;
    font-weight: bold;
    padding: 3px;
}

.veryhighUV {
    border-radius: 5px;
    background-color: red;
    color: white;
    font-weight: bold;
    padding: 3px;
}

.extremeUV {
    border-radius: 5px;
    background-color: violet;
    color: white;
    font-weight: bold;
    padding: 3px;
}

.card {
    max-width: 18rem;
    margin: 10px;
}

.card-body {
    background-color: lightpink;
}

.jumbotron {
    margin-top: 5px;
    background-color: paleturquoise;
}

main {
    padding-top: 15px;
}